    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #FAFAFA;
        font: 9px "Arial";
    }
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .page {
        width: 210mm;
        min-height: 297mm;
        padding: 8mm;/*20mm;*/
        margin: 10mm auto;
        border: 1px #D3D3D3 solid;
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
    .subpage {
        height: 257mm;
    }
    
    @page {
        size: A4;
        margin: 0;
    }
    @media print {
        html, body {
            width: 210mm;
            height: 297mm;        
        }
        .page {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
    }

    table {
        width: 100%;
    }

    th {
        text-align: left;
        font-weight: normal;
    }

    .titre_bulletin {
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        margin: 10px;
    }

    #annee_scolaire {
        font-size: 13px;
    }

    .logo{
        width: 250px;
    }

    .titre_element {
        font-weight: bold;
        text-align: right;
    }

    .liste_matieres {
        margin-top: 5px;
    }
    .liste_matieres > thead > tr > th {
        font-weight: bold;   
        text-align: center;
        border: solid 1px #c4c4c4;
        padding: 5px;
    }
    .liste_matieres > tbody > tr > th {
        text-align: center;
        border: solid 1px #c4c4c4;
        padding: 4px;
    }

    .liste_matieres > tbody > tr > th.gauche {
        text-align: left;
    }

    .liste_matieres > tbody > tr > th.droite {
        text-align: right;
    }

    .bas_page {
        text-align: center;
        margin: 10px;
    }

    .bas_page > span {
        margin: 10px;
    }

    .appreciations > tbody > tr > th, td {
        border: solid 1px #c4c4c4;
        height: 100px;
        vertical-align: top;
        text-align: center;
        width: 50%;
    }

